.main-article {
    &-container {
        display: flex;
        flex-direction: column;
        gap: 28px;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
        }
    }

    &-header{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &--offer{
        color: $color-offer;
        text-transform: uppercase;
        font-weight:700;
    }

    &-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
        
        &--info{
            padding-bottom: 16px;
        }
    }

    &-section {
        display: flex;
        gap: 15px;
        margin-top: 16px;
    }

    &-footer {
        &-list{
            display: flex;
            flex-direction: row;
            gap: 20px;
            list-style: none;
        }
  
        &-item {
            display: flex;
            flex-direction: row;
        }
    }
}