.main-aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-primary;
    color: $color-font-secondary; 
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 16px;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .main-aside-row1{
        flex-basis: 65%;
    }
}
@media (min-width: 768px) {
    .main-aside-row2{
        flex-basis: 35%;
    }
}