.main-accessories {
    margin-top: 20px;
    margin-bottom: 20px;

    &-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
        }
    }
}